$heading-font:'Oswald', sans-serif;
$common-font: 'Roboto', sans-serif;
$common-font-size: 16px;
$common-font-color:#333333;
$p-color:#333333;
$site-bg-sky:#f8fdff;
$clr-black:#000;
$clr-dark:#1f4652;
$clr-bg-light:#fff9f0;
$clr-white:#fff;
$clr-primary:#db5200;
$clr-secondry:#1a2732;
$clr-gray:#e7e7e7;
$clr-gray-light:#f8f8f8;
$clr-white-bg-dark:#acacac;
$transition: .5s all ease;
$outline-none:0px none;
$inherit:inherit;
$none:none;
